@import "_nullstyle.scss";
@import "_adaptive.scss";

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../../fonts/HelveticaNeueCyr-Roman.eot');
	src: local('☺'), url('../../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('../../fonts/HelveticaNeueCyr-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VNI-ArialRounded';
	src: url('../../fonts/14930.eot');
	src: local('☺'), url('../../fonts/14930.woff') format('woff'), url('../../fonts/14930.ttf') format('truetype'), url('../../fonts/14930.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

/*----------------------------------	Header	----------------------------------*/

header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}

.container {
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
}

.headerBody {
	display: flex;
	justify-content: space-between;
	height: 60px;
	z-index: 2;
	padding: 0 45px;
}

.headerBody__left, .headerBody__center, .headerBody__right{
	display: flex;
	align-items: center;
}

.burgerIcon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 18px;
	height: 12px;
	cursor: pointer;
	span{
		width: 100%;
		height: 2px;
		background-color: #000;
	}
}

.headerBody__logo {
	font-family: 'VNI-ArialRounded', sans-serif;
	font-size: 16px;
	letter-spacing: 0.01em;
	height: 35px;
	margin: 0 0 0 25px;
}

.logo__part1 {
	color: #434f74;
}

.logo__part2 {
	display: inline-block;
	padding: 9px 10px 8px 5px;
	background: url('../../img/shape_1_14.png') 0 0 no-repeat;
	color: #ffffff;
}

.searchBtn {
	position: absolute;
	bottom: 15px;
	width: 40px;
	height: 25px;
	background: url('../../img/icons/headerSearch.png') 0 0 no-repeat;
}

.searchField{	
	letter-spacing: 0.01em;
	color: #959fbb;
	padding: 0 0 0 35px;
	width: 550px;
}

.uploadBtn {
	width: 40px;
	height: 25px;
	background: url('../../img/icons/headerUpd.png') 0 0 no-repeat;
	a{
		display: block;
		width: 100%;
		height: 100%;
	}
}

.notificationBtn {
	position: relative;
	width: 40px;
	height: 25px;
	margin: 0 10px 0 45px;
	background: url('../../img/icons/headerNotification.png') 0 0 no-repeat;
	a{
		display: block;
		width: 100%;
		height: 100%;
	}
}

.notificationBtn__badge{
	position: absolute;
	right: 24px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #fa2276;
}

.profileImg {
	background: url('../../img/bg_36.png') 0 0 no-repeat;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/*------------------------------------------------------------------------------*/

/*--------------------------------	Aside Menu	--------------------------------*/

main{
	display: flex;
	height: 100%;
	padding: 60px 0 0 0;
}

.aside{
	height: 100%;
	flex: 0 0 300px;
}

.asideBody {	
	display: flex;
	flex-direction: column;
	padding: 39px 40px 0 45px;
	height: 100%;
	border-right: 1px solid #f5f5f7;
	
}

.asideBody__main {
	margin-bottom: 40px;
}

.asideBody__library{
	margin-bottom: 35px;
}
.asideBody__subscriptions{
	margin-bottom: 45px;
}

.asideBody__title {
	font-weight: 500;
	letter-spacing: 0.01em;
	color: #434f74;
	margin-bottom: 33px;
}

.asideBody__list {
	ul{
		li{
			min-height: 25px;
			display: flex;
			align-items: center;
		}
		li a{
			width: 100%;
			padding: 0 0 0 33px;
			font-weight: 500;
			color: #959fbb;
		} 
		li + li{
			margin-top: 18px;
		}
}
}

.asideBody__list_main{
	li:nth-child(1){
		background: url('../../img/icons/asideHome.png') 0 50% no-repeat;
	}
	li:nth-child(2){
		background: url('../../img/icons/asideChannels.png') 0 50% no-repeat;
	}
	li:nth-child(3){
		background: url('../../img/icons/asideTrending.png') 0 50% no-repeat;
	}
	li:nth-child(4){
		background: url('../../img/icons/asideSubscriptions.png') 0 50% no-repeat;
	}
}
.asideBody__list_library{
	li:nth-child(1){
		background: url('../../img/icons/asideHistory.png') 0 50% no-repeat;
	}
	li:nth-child(2){
		background: url('../../img/icons/asideWatchLater.png') 0 50% no-repeat;
	}
	li:nth-child(3){
		background: url('../../img/icons/asideLikeVid.png') 0 50% no-repeat;
	}
}
.asideBody__list_subscriptions{
	li:nth-child(1){
		background: url('../../img/bg_348.png') 0 50% no-repeat;
	}
	li:nth-child(2){
		background: url('../../img/bg_345.png') 0 50% no-repeat;
	}
	li:nth-child(3){
		background: url('../../img/bg_343.png') 0 50% no-repeat;
	}
}

.newVideosCount {
	float: right;
	font-weight: 500;
	color: #f24f86;
}
.browseChannelsBtn {
	min-height: 20px;
	background: url('../../img/icons/asideBrowseCh.png') 0 50% no-repeat;
	display: flex;
	align-items: center;
	a{
		width: 100%;
		padding: 0 0 0 33px;
		font-weight: 500;
		color: #959fbb;
	}
}


/*------------------------------------------------------------------------------*/

/*-----------------------------	Channel Page Header	--------------------------*/

.channelPage {
	flex: 1 1 auto;
	height: 100%;
}

.channelPage__header {
	width: 100%;
	height: 305px;
	padding: 33px 110px 33px 115px;
	background: url('../../img/bg_57.png') 0 0 no-repeat;
}

.channelPage__header-Avatar {
	width: 96px;
	height: 96px;
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.34);
	border-radius: 5px;
	img{
		object-fit: cover;
	}
}

.channelPage__header-Info {
	display: flex;
	align-items: center;
	margin-top: 50px;
	position: relative;
}

.channelName {
	font-family: HelveticaNeue;
	font-size: 22px;
	letter-spacing: 0.01em;
	color: #ffffff;
	margin: 0 22px 0 5px;
	span{
		font-weight: 700;
	}
}

.subscribeBtn {
	button{
		width: 96px;
		height: 30px;
		background-color: #f24f86;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
		border-radius: 3px;
		font-weight: 500;
		letter-spacing: 0.01em;
		color: #ffffff;
	}
}

.socialBtn {
	display: flex;
	position: absolute;
	right: 0;
}

.socialBtn__twitter, .socialBtn__facebook, .socialBtn__google {
	width: 28px;
	height: 28px;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
	border-radius: 3px;
	a{
		display: block;
		width: 100%;
		height: 100%;
	}
}

.socialBtn__twitter{
	background: url('../../img/icons/twitterIcon.png') 50% 50% no-repeat, #4dccf1;
}

.socialBtn__facebook {
	background: url('../../img/icons/facebookIcon.png') 50% 50% no-repeat, #8094f5;
	margin: 0 7px 0 8px;
}

.socialBtn__google {
	background: url('../../img/icons/google_Icon.png') 50% 50% no-repeat,  #f968a4;
}


/*------------------------------------------------------------------------------*/

/*------------------------------	Channel Page Body	-----------------------------*/


.channelPage__body {
	position: relative;
	top: -57px;
	max-width: 980px;
	margin: 0 auto;
	padding: 37px 40px;
	background-color: #ffffff;
	border-radius: 3px;
}
.channelNav {
	height: 35px;
	ul{
		display: flex;
		height: 100%;
		li{
			&:hover{
				border-bottom: 3px solid #719dff;
				border-radius: 1.5px;
			}
			a{
				display: block;
				height: 100%;
				font-weight: 500;
				letter-spacing: 0.01em;
				color: #434f74;
			}
		} 
		li+li{
			margin-left: 50px;
		}
	}
}
.mainVideo {
}
.mainVideo__video {
}
.mainVideo__info {
}
.mainVideo__title {
}
.mainVideo__views {
}
.mainVideo__desc {
}
.mainVideo__releaseDate {
}
.mainVideo__releaseBy {
}
.mainVideo__downloadLinks {
}
.downloadLink {
}
.mainVideo__produced {
}







/*------------------------------------------------------------------------------*/